@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    line-height: 100%;
}

/* App */
.App {
    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "sidebar main aside"
    ;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: min-content 1fr;
    height: 100vh;
}

/* @media screen and (max-width: 768px) {
    .App {
        grid-template-areas:
            "navbar"
            "sidebar"
            "main"
            "aside"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        min-height: 100vh;
        height: 100%;
    }
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
    }
} */

.navigation {
    grid-area: navbar;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar .active {
    color: #0a58ca;
}

.content {
    grid-area: main;
    height: 100%;
    overflow-y: auto;
}

.content h2 {
    font-weight: bolder;
}

.aside {
    grid-area: aside;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.aside img {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/* Error Page */
.error-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-element h1 {
    font-weight: bolder;
}

.error-element i {
    color: #666;
}

/* Navigation */
.search {
    filter: invert();
    width: 24px;
}
