@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    line-height: 100%;
}

/* App */
.App {
    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "sidebar main aside"
    ;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: min-content 1fr;
    height: 100vh;
}

.navigation {
    grid-area: navbar;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: main;
    height: 100%;
    overflow-y: auto;
}

.content h2 {
    font-weight: bolder;
}

.aside {
    grid-area: aside;
    padding: 10px;
}

.aside img {
    width: 100%;
    object-fit: cover;
}

/* Error Page */
.error-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-element h1 {
    font-weight: bolder;
}

.error-element i {
    color: #666;
}

/* Navigation */
.search {
    filter: invert();
    width: 24px;
}
